.Intro2 {
  color: white;
  font-size: 50px;
  text-transform:uppercase;
  margin: 10px;
  font-family: 'Sora', sans-serif;
}

.AboutMeFont2{
  color: white;
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  font-family: 'Sora', sans-serif;
  margin-top: 35px;
}

.AboutMeText2 {
  width: 75%;
  margin-left: 12.5%;
}

.IntroText2{ 
  height: 85vh!important;
  margin-right: 0px!important;
}

@media only screen and (max-width: 1526px) {
  .IntroText2 {
    height: 100%!important;;
  }
}

.Skills{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  color: #444;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 25px;
}

.Tools{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  color: #444;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 25px;
}

.box {
  background-color:rgba(33, 13, 81, 0.233);
  color: rgb(43, 15, 60);
  border-radius: 5px; 
  padding: 20px;
  font-size: 150%;
  border-style: solid;
}

.SkillLogo{
  max-height: 90px!important;
  max-width: 150px;
  filter:  brightness(0) invert(1);
}

@media only screen and (max-width: 1055px) {
  .Tools{
    grid-template-columns: 200px 200px 200px 200px;
  }
}

@media only screen and (max-width: 855px) {
  .Tools{
    grid-template-columns: 200px 200px 200px;
  }
}

@media only screen and (max-width: 675px) {
  .Skills{
    grid-template-columns: 200px 200px;
  }
  .Tools{
    grid-template-columns: 200px 200px;
  }
}

@media only screen and (max-width: 421px) {
  .Skills{
    grid-template-columns: 200px;
  }
  .Tools{
    grid-template-columns: 200px;
  }
}

@media only screen and (max-width: 271px) {
  .Tools{
    grid-template-columns: 200px;
  }
  .ManAtDesk{
    max-width: 150px;
  }
}