.app {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}
Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
}

.Contact{ 
  height: 93vh!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}

@media only screen and (max-height: 675px) {
  .Contact{ 
    height: 100%!important;
  }
}

@media only screen and (max-width: 421px) {
  Form {
    width: 300px;
  }
}

@media only screen and (max-width: 327px) {
  Form {
    width: 200px;
  }
  .app {
    max-width: 300px;
  }
}

label{
  color: white!important;
}