.Intro {
  color: white;
  font-size: 48px;
  text-transform:uppercase;
  margin: 10px;
}

.MainText {
  margin-top: 150px;
}

.Name {
  color: rgb(71, 97, 209);
}

.Jobs {
  color: white;
  font-size: 22px;
  text-transform:uppercase;
}

.ManAtDesk {
  max-height: 350px;
  margin-top: 75px;
}

.AboutMeText {
  width: 75%;
  margin-left: 12.5%
}

.AboutMeFont{
  color: white;
  font-weight: 500;
  font-size: large;
  line-height: 20px;
}

@media only screen and (max-width: 870px) {
  .ManAtDesk {
    max-height: 300px;
  }
}

@media only screen and (max-width: 767.5px) {
  .ManAtDesk {
    margin-top: 25px;
  }
  .MainText {
    margin-top: 50px;
  }
}

