.about2 {
  text-align: center;
  width: 100%;
  z-index: 1;
  font-size: 20;
}

@media only screen and (max-width: 650px) {
  .About {
    height: 93vh;
    margin-top: 7vh;
  }
}

.MainText {
  margin-top: 50px;
  height: 75vh;
}

.Intro {
  color: white;
  font-size: 22px;
  text-transform:uppercase;
}

.Jobs {
  color: white;
  font-size: 22px;
  text-transform:uppercase;
}
