.Intro {
  color: white;
  font-size: 70px;
  text-transform:uppercase;
  margin: 10px;
  font-family: 'Sora', sans-serif;
}

.MainText {
  margin-top: 150px!important;
}

.Name {
  color: rgb(71, 97, 209);
}

.Jobs {
  color: white;
  font-size: 22px;
  text-transform:uppercase;
}

.ManAtDesk {
  margin-top: 75px!important;
  max-height: 375px!important;
}

.IntroText{ 
  height: 95vh!important;
  margin-right: 0px!important;
}

.AboutMeText {
  width: 75%;
  margin-left: 12.5%;
}

.AboutMeFont{
  color: white;
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  font-family: 'Sora', sans-serif;
}

@media only screen and (max-width: 940px) {
  .ManAtDesk {
    max-height: 300px!important;
    margin-top: 150px!important;
  }
}

@media only screen and (max-width: 767.5px) {
  .ManAtDesk {
    margin-top: 25px!important;
  }
  .MainText {
    margin-top: 50px!important;
  }
  .IntroText {
    height: 100%!important;
  }
  .AboutMeFont{
    font-size: 20px;
  }
  .Intro {
    font-size: 50px;
  }
}

