.Logo {
  height: 70px;
  margin-left: 50px;
  position: relative;
  float: left;
  z-index: 1;
}
.Navigation-burger {
  display: none;
}

@media only screen and (max-width: 650px) {
  .Navigation-bar {
    display: none;
  }
  .Navigation-burger {
    display:flex;
    position: absolute;
    width: 100%;
  }
  .Logo {
    height: 50px;
  }
  .NavBar {
    height: 2vh;
  }
}