.List {
  margin-top: 2%;
  /* margin-right: 5%; */
  float: right;
  list-style-type: none;
  display:flex;
  width: 65%;
  justify-content: space-around;
}

.ListText {
  text-decoration: none;
  color: white;
  text-transform:uppercase;
  font-size: 22px;
}

.Icon {
  color: rgb(24, 20, 20);
  font-size: 22px;
  margin-right: 7px;
}
