.NavBar {
  background-color:rgb(31, 25, 46);
  height: 65px;
  width: 100%;
  position: absolute;
}

.Burger {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 100%;
}
.BurgerIcon {
  color: white;
  margin-right: 6px;
  margin-top: 5px;
  font-size: 42px;
}

.BurgerIconHidden {
  display: none;
}

.Menu {
  display: none;
}
.MenuDisplayed {
  height: 50%;
  width: 100%;
  z-index: 2;
  background-color:rgb(34, 32, 37);
  animation: 0.4s ease-out fadeIn2 1;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.BurgerList {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  z-index: 2;
  align-self: center;
}

.ListText {
  text-decoration: none;
  color: white;
  text-transform:uppercase;
  font-size: 26px;
  font-family: 'Sora', sans-serif;
}

.Icon {
  color: white;
  font-size: 26px;
  margin-right: 7px;
}

.ListText:hover {
  
  color: rgb(156, 58, 148);
  animation: 0.3s forwards fadeIn 0s;
}

.ListText active {
  
  color: rgb(156, 58, 148);
  animation: 0.3s forwards fadeIn 0s;
}

@keyframes fadeIn {
  0% {
    border-bottom: 0px solid rgb(129, 81, 250);
  }
  100% {
    border-bottom: 4px solid rgb(129, 81, 250);
  }
}

.ListItem {
  margin-top: 20px;
}

.CrossIcon {
  color: white;
  margin-right: 7px;
  margin-top: 10px;
  font-size: 34px;
  float: right;
}

.Cross {
  position: absolute;
  float: right;
  margin-left: 90%;
}

@media only screen and (max-width: 1290px) {
  .Icon {
    font-size: 14px;
  }
  .ListText {
    font-size: 15px;
  }
}

@media only screen and (max-width: 790px) {
  .Icon {
    font-size: 11px;
  }
  .ListText {
    font-size: 13px;
  }
}